@font-face {
  font-family: "Inter";
  src: url(Fonts/Inter/Inter_24pt-Regular.woff2) format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(Fonts/Inter/Inter_24pt-Medium.woff2) format(woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url(Fonts/Inter/Inter_24pt-SemiBold.woff2) format(woff2);
  font-weight: 600;
}

body * {
  letter-spacing: 0.025em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  line-height: normal;
  font-family: "Inter", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
